<div class="rxjs-demo">
  <markdown [src]="'assets/doc/rxjs-demo/rxjs-demo.md'"></markdown>
  <div class="button-wrap">
    <yn-button ynType="primary" (click)="getFrom()">from遍历</yn-button>
    <yn-button ynType="primary" (click)="getCreateDom()">create</yn-button>
    <yn-button ynType="primary" (click)="getReduce()">reduce累加</yn-button>
    <yn-button ynType="primary" (click)="getCatch()">catch错误处理</yn-button>
  </div>
  <div class="button-wrap">
    <yn-button ynType="primary" (click)="getFrom()">subject</yn-button>
  </div>
</div>
