<section style="padding: 20px;" class="pdf-page html-to-pdf">
  <markdown [src]="'assets/doc/htmltopdf/htmltopdf.md'"></markdown>
  <yn-button ynSize="default" (click)="getPDF()" >下载pdf</yn-button>
  <yn-button ynSize="default" (click)="getBl()" >获取</yn-button>
  <div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</section>
