<section class="buttom-view">
  <markdown [src]="'/assets/doc/button/button.md'"></markdown>
  <h3>大小</h3>
  <yn-button ynSize="small">small</yn-button>
  <yn-button ynSize="default">default</yn-button>
  <yn-button ynSize="large">large</yn-button>
  <h3>类型</h3>
  <yn-button ynType="primary">primary</yn-button>
  <yn-button ynType="default">default</yn-button>
  <yn-button ynType="dashed">dashed</yn-button>
  <yn-button ynType="danger">danger</yn-button>
  <yn-button ynType="link">link</yn-button>
</section>
